@inherits LayoutComponentBase

@inject ProtectedSessionStorage SessionStorage
@inject NavigationManager NavigationManager

<MyMudThemeProvider />
<MudSnackbarProvider />

<div class="page mud-layout">

    <div class="sidebar mud-elevation-1">
        <div class="top-row mud-drawer-head">
            <div>
                <a class="navbar-brand" target="_blank">Eurikia</a>
            </div>
        </div>

        <input type="checkbox" title="Navigation menu" class="navbar-toggler" />
        <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
            <NavMenu />
        </div>

    </div>

    <main>
        <div class="top-row px-4">
        </div>

        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="my-2 pt-2">
            @Body
        </MudContainer>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {

    private Timer? _timer;
    private int counter = 0;

    private async Task CheckSession()
    {
        var expirationDateResult = await SessionStorage.GetAsync<DateTime>("sessionExpiration");
        if (expirationDateResult.Success && expirationDateResult.Value < DateTime.Now)
        {
            NavigationManager.NavigateTo("/");
        }

    }

    public void Dispose()
    {
        _timer.Dispose();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var result = await SessionStorage.GetAsync<bool>("isAuthenticated");
        if (!result.Success || !result.Value)
        {
            NavigationManager.NavigateTo("/");
        }

        _timer = new Timer(async _ => await InvokeAsync(CheckSession), null, TimeSpan.Zero, TimeSpan.FromSeconds(1));
    }
}