@inherits LayoutComponentBase

@inject UsersService UsersService


<MyMudThemeProvider />
<MudSnackbarProvider />


<div class="page mud-layout">
    <div class="sidebar mud-elevation-1">
        <div class="top-row mud-drawer-head d-flex justify-content-between">
            <div>
                <MudChip Label="true"  Icon="@Icons.Material.Filled.HourglassEmpty" Color="Color.Secondary">Eurikia</MudChip>
            </div>
            <div class="user-name">
                <MudChip Label="true" Icon="@Icons.Material.Filled.Person" Color="Color.Secondary">@UsersService.UserName</MudChip>

                </div>
            </div>

            <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
                <NavMenu />
            </div>
        </div>

        <main>
            <div class="top-row px-4">
            </div>

            <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="my-2 pt-2">
                @Body
        </MudContainer>
    </main>
</div>


<div id="blazor-error-ui">
    Ha ocurrido un error no controlado
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        UsersService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        UsersService.OnChange -= StateHasChanged;
    }

}